/DiamondPatternV2/nbproject/private/
/DiamondPatternV2/build/
/DiamondPattern/build/
/DiamondPattern/nbproject/private/
/PalindromicPattern/build/
/PalindromicPattern/nbproject/private/
/PrintGivenName/nbproject/private/
/PrintGivenName/build/
/Calculation/nbproject/private/
/Calculation/build/
/2DArrays/nbproject/private/
/2DArrays/build/
/ArraysSearch/nbproject/private/
/ArraysSearch/build/
/StringQuestion1CombindLength/nbproject/private/
/StringQuestion1CombindLength/build/
/StringCharecterChange/nbproject/private/
/StringQuestion2CharecterChange/nbproject/private/
/StringQuestion2CharecterChange/build/